.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.home-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 40%;
  height: 300px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 6px 1px #bfadad;
          box-shadow: 0px 0px 6px 1px #bfadad;
  border-radius: 20px;
  border: 1px solid #1533c9;
  margin: 10%;
}

.card .card-header {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -1px 5% -1px;
  border-radius: 17px 17px 0 0;
}

.card .card-header p {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  margin: 2px;
}

.card .drop-down {
  width: 40px;
  height: 40px;
}

.card .drop-down-toggle::after {
  display: none;
}

.card img {
  width: 30px;
}

.card .eth {
  height: 400px;
  margin: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 15px;
  background: #e6e2e2;
  border: 1px solid #1533c9;
}

.card .eth input {
  background: none;
  border: none;
  font-size: 20px;
  font-family: monospace;
}

.card .eth input:focus {
  outline: none;
}

.card .eth button {
  display: block;
  background: #ffc308;
  border-radius: 10px;
}

.card .eth button:hover {
  background: #fc8f00;
}

.card .select-token {
  height: 400px;
  margin: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 15px;
  background: #e6e2e2;
  border: 1px solid #1533c9;
}

.card .select-token input {
  background: none;
  border: none;
  font-size: 20px;
  font-family: monospace;
}

.card .select-token input:focus {
  outline: none;
}

.card .select-token button {
  display: block;
  background: #ffc308;
  border-radius: 10px;
}

.card .select-token button:hover {
  background: #fc8f00;
}

.card .aerrow {
  margin: auto;
  cursor: pointer;
}

.card .connect-wallet {
  margin: 2% auto;
}

.card .connect-wallet button {
  background: #0100ff;
  height: 45px;
  width: 200px;
  border-radius: 20px;
  font-size: 20px;
  color: white;
}

.card .connect-wallet button:hover {
  background: #041e75;
}

.modal-screen {
  width: 30%;
  height: 450px;
  background: #ffffff;
  position: absolute;
  border-radius: 20px;
  top: 15%;
  padding: 0.5% 0% -1px 0px;
}

.modal-screen .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-screen .coins-list {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid blue;
  height: 50px;
  margin: 2%;
}

.modal-screen .coins-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 70%;
  margin: 5% 13% 0 -26px;
}
/*# sourceMappingURL=home-screen.css.map */